node_modules/
TrueTilawah/
.env
frontend/assets/audio
*.log
.expo/
dist/
web-build/
.env
.env.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
Thumbs.db
npm-debug.*
yarn-debug.*
yarn-error.*
